<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>MTC Music</title>
    <script src="style.css"></script>
</head>
<body>
<div style="min-height: 630px">
<div class="leftblock">
    <div class="left-panel">
        <div class="left-panel__content">
         <div class="left-panel__logo">
             <img src="../static/img/logo.png">
         </div>
          <ol class="menu">
           <div class="menu__items">
             <li class="menu-item"><a>Подборки</a></li>
             <li class="menu-item"><a>Рекомендации</a></li>
           </div>
          </ol>
          <div class="player-controls">
            <div class="progress">
             <div class="progress__bg"></div>
            </div>
            <div class="player-controls__track-container">
             <div class="player-controls__track player-controls__track_shown">
              <div class="track track_type_player">
                  <a href="">
                      <img class="track__cover_transparent" src="">
                      <img src="../static/img/basta.jpeg" class="album-cover album-cover_size_XL" alt="Страшно так жить - Баста">
                  </a>
                  <div class="track__name">
                   <div class="track__name-wrap">
                       <a href="" class="track_title link">Страшно так жить</a>
                       <div class="track__ver">из фильма "Текст"</div>
                       <div class="track__artists"><a href="" title="Баста" class="link link_mute">Баста</a></div>
                   </div>
                  </div>
                 </div>
                </div>
            </div>
          </div>
            <div class="player-controls__btn-container">
             <div class="player-controls__btn player-controls__btn_prev player-controls__btn_disabled">
                 <div class="icon icon_prev icon_size_L"></div>
             </div>
             <div class="player-controls__btn player-controls__btn_play" title="Играть [P]">
                 <div class="icon icon_play icon_size_XL"></div>
             </div>
            </div>
            <div class="left-panel__footer left-panel__footer_panel">
                © Работает на технологии
                <a href="http://music.yandex.ru" target="_blank" rel="noopener">Яндекс.Музыки</a>
            </div>
        </div>
    </div>
</div>
</div>
</body>
</html>